In [1]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import pandas as pd

##### Read csv file

In [2]:
products_df = pd.read_csv("outputTunisianet-recomander.csv")
ratings_df = pd.read_csv('ratings.csv')

# Preprocessing

### Preprocessing products dataframeÂ¶

In [3]:
products_df.head()

,brand,price,reference,title
0,https://www.tunisianet.com.tn/270_versus,"439,000 DT",[VBOOK14SLVV1.],Pc portable Versus V-Book / Quad Core / 2 Go
1,https://www.tunisianet.com.tn/3_lenovo,"839,000 DT",[81D600DDFE],Pc Portable Lenovo IdeaPad 330-15AST / Dual Co...
2,https://www.tunisianet.com.tn/3_lenovo,"889,000 DT",[82C6006GFE],PC Portable Lenovo V14 ADA / Dual Core / 4 Go
3,https://www.tunisianet.com.tn/79_asus,"899,000 DT",[X543NA-AR297T],Pc portable Asus X543NA / Dual Core / 4 Go / Gris
4,https://www.tunisianet.com.tn/3_lenovo,"902,000 DT",[81D600DDFE-8],Pc Portable Lenovo IdeaPad 330-15AST / Dual Co...

In [4]:
products_df.columns

Index(['brand', 'price', 'reference', 'title'], dtype='object')

### Preprocessing ratings dataframe

In [5]:
ratings_df.head()

   userId  productId  rating   timestamp
0       1        169     2.5  1204927694
1       1       2471     3.0  1204927438
2       1      48516     5.0  1204927435
3       2       2571     3.5  1436165433
4       2     109487     4.0  1436165496

In [6]:


ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  productId  rating
0       1        169     2.5
1       1       2471     3.0
2       1      48516     5.0
3       2       2571     3.5
4       2     109487     4.0